extends baseEmail

block content
    p Chào #{firstName},
    p Chúng tôi đã nhận được yêu cầu đăng ký tài khoản của bạn. Rất tiếc, chúng tôi không thể chấp nhận yêu cầu đăng ký của bạn lúc này.
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    p Nếu bạn cần thêm thông tin hoặc hỗ trợ, vui lòng liên hệ với chúng tôi.
    p Nếu bạn không đăng ký tài khoản, vui lòng bỏ qua email này!
    p Trân trọng, [FALTH]
