.title_top {
    font-size: 30px;
    font-weight: 700;
    background-color: #9a9a9a;
    width: 100%;
    height: 40px;

}

.addButton {
    display: block;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    margin-right: 20px;
}



.buttonadd {
    font-size: 20px;
    height: 25px;
    width: 100%;
    background: #0056b3;
}

.center {
    display: flex;
    gap: 150px;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: #ffffff;

}

.img_center {
    height: 70px;
    width: 70px;
    border-radius: 50px;
    background-color: red;
}



.center1 {
    display: flex;
    padding: 10px;
    gap: 10px;
    width: 25%;


}

.center1_title {
    display: flex;
    flex-direction: column;
}

.center1_title2 {
    font-size: 25px;
    font-weight: 600;
}

.center1_title3 {
    font-size: 15px;
    color: #191b6f;
}

.bot {
    text-align: center;
    align-items: center;
    padding-top: 10px;
    background-color: #ffffff;
}

.button_bot {
    height: 30px;
    width: 150px;
    background-color: #4c4ecd;
    color: white;
    border-radius: 20px;
}

.dsdh {
    background-color: #9a9a9a;
    margin-top: 0px 10px;
}

.titledsdh {
    font-size: 20px;
    font-weight: 700;
}

.table_order {
    padding: 0px 10px;
    gap: 100px;
}

/* Trong tệp CSS module (Custumer.module.css) */

/* CSS cho bảng */



/* CSS cho nút "Xem chi tiết" */

.button {
    width: 100%;
    height: 30px;
    border-radius: 25px;
    background: #846add;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.button:hover {
    background-color: #0056b3;
}

.dshd1 {
    display: flex;
    align-items: center;
    gap: 100px;
    background-color: #a9a9a9;
    padding: 10px;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.table_order {
    gap: 100px;
    max-height: 355px;
    overflow-y: auto;
}


.searchInput {
    width: 300px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.searchBar {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 10px;
}

.tableContainer {
    width: 100%;
    max-height: 400px;
    overflow-y: auto;

}

.t_order {
    width: 100%;

    border-collapse: collapse;
}

.t_order th,
.t_order td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

.lichngu {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
}

.add {
    position: absolute;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;

}

.Store {
    align-items: center;
    text-align: center;
}

.Name_store {
    font-size: 25px;
    width: 100%;
    margin-top: 20px;
    font-weight: 700;
}

.addres_store {
    font-weight: 10;
}

.bill {
    font-size: 20px;
    margin-top: 20px;
    font-weight: 400;
}

.bill_stt {
    text-align: left;
    gap: 10px;
    font-weight: 10;
}

.bill_time {
    display: flex;
    gap: 100px;
    font-weight: 10;
}

.Store {
    text-align: center;
    width: 90%;
}

.modal {
    display: flex;
    margin: auto;
}

/* Bình luận sản phẩm */
.container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 95%;
    border: 0.1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
}

.body {
    max-height: 85%;
}

.top_fb {
    border: 0.1px solid #ccc;
    margin-bottom: 40px;
    padding: 20px;
}

.bot_fb {
    margin-top: 10px;
    max-height: 75%;
    overflow-y: auto;
}

.poster {
    position: absolute;
    margin: 10px;
    justify-content: center;
    gap: 10px;
    display: flex;
    justify-content: flex-end;
    bottom: 0%;
}

.fb_img {
    height: 70px;
    width: 70px;
    border: 0.1px solid #ccc;
}