<div class="now-idea-searching">
  <div class="now-list-restaurant-row">
    <div class="item-restaurant">
      <a class="item-content" href="/da-nang/com-ga-nam-cho-moi-dong-da"
        ><div class="img-restaurant">
          <img
            src="https://images.foody.vn/res/g117/1162184/prof/s280x175/foody-upload-api-foody-mobile-co-c19bd5ec-230217135053.jpeg"
            alt="Cơm Gà Nam Chợ Mới - Đống Đa"
            title="Cơm Gà Nam Chợ Mới - Đống Đa"
          />
        </div>
        <div class="info-restaurant">
          <div class="name-res">Cơm Gà Nam Chợ Mới - Đống Đa</div>
          <div class="address-res">
            175 Đống Đa, P. Thạch Thang, Quận Hải Châu, Đà Nẵng
          </div>
        </div>
        <div class="opentime-status">
          <span
            class="stt online"
            title="Mở cửa"
            style={{color: 'rgb(35, 152, 57)', backgroundColor: 'rgb(35, 152, 57)'}}
          ></span></div
      ></a>
    </div>

  </div>
  <div class="now-idea-searching-footer">
    <a href="/da-nang/danh-sach-dia-diem-giao-tan-noi?q=cơm"
      ><div class="content">
        <span class="icon"><i class="fas fa-search"></i></span>Tìm thêm kết quả
        cho <span class="key-word">cơm</span>
      </div></a
    >
  </div>
</div>

: (
                                                        <div class="item-restaurant" onClick={() => handleStore(`${selectSearch === "store" ? result._id : result.store._id}`)}>
                                                        <div class="item-content" >
                                                        <div class="img-restaurant">
                                                                <img
                                                                    src="https://res.cloudinary.com/drk3oaeza/image/upload/v1702051945/pbl6/ldwxtyhsc2n3fosmfaz4.jpg"
                                                                    alt="Cơm Gà Nam Chợ Mới - Hoàng Diệu"
                                                                    title="Cơm Gà Nam Chợ Mới - Hoàng Diệu"
                                                                />
                                                            </div>
                                                            <div class="info-restaurant">
                                                                <div class="name-res">{result.name}</div>
                                                                <div class="address-res">
                                                                    {result.store.name}
                                                                </div>
                                                                <div class="address-res">
                                                                    {result.store.address}
                                                                </div>
                                                            </div>
                                                            <div class="opentime-status">
                                                                <span
                                                                    class="stt online"
                                                                    title="Mở cửa"
                                                                    style={{ color: 'rgb(35, 152, 57)', backgroundColor: 'rgb(35, 152, 57)' }}
                                                                ></span></div></div>
                                                    </div>
                                                    )