.product-rating-overview {
    width: 70%;
    background-color: #fffbf8;
    min-height: 5rem;
    border: 1px solid #f9ede5;
    margin-bottom: 1rem;
    display: flex;
    align-items: right;
    justify-content: left !important;
}